<%= form_tag "/login", :method => :post do %>
  <% if @login_error %>
    <p class="error">
      <%= @login_error %>
    </p>
  <% end %>
  <p class="field">
    <%= label_tag :login, "Login" %>
    <%= text_field_tag :login, params[:login] %>
  </p>
  <p class="field">
    <%= label_tag :password, "Password" %>
    <%= password_field_tag :password, params[:password] %>
  </p>
  <p class="actions">
    <%= submit_tag "Login" %>
  </p>
<% end %>